Repository Emplocity/nameko-keycloak: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, rstcheck

.pre-commit-config.yaml:

default_language_version:
  python: python3.9
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: black
        args: ["--check"]
        types: [python]
      - id: isort
        name: isort
        language: system
        entry: isort
        args: ["--check", "--diff"]
        types: [python]
      - id: flake8
        name: flake8
        language: system
        entry: flake8
        types: [python]
      - id: mypy
        name: mypy
        language: system
        entry: mypy
        types: [python]
      - id: rstcheck
        name: rstcheck
        language: system
        entry: rstcheck
        types: [rst]

Bump development dependencies
  test_requirements.txt
Due: none

Drop Python 3.8 from GH actions and bump action versions
  .github/workflows/build.yml
Due: none

Changelog in progress.
  CHANGELOG.rst
Due: rstcheck

1.0.0 alpha 2
  README.rst
  docs/conf.py
  pyproject.toml
  src/nameko_keycloak/__init__.py
Due: black, isort, flake8, mypy, rstcheck

Bump version: 1.0.0a2 → 1.0.0
  .bumpversion.cfg
  CHANGELOG.rst
  README.rst
  docs/conf.py
  pyproject.toml
  src/nameko_keycloak/__init__.py
Due: black, isort, flake8, mypy, rstcheck

Upgrade python-keycloak and switch to jwcrypto
  pyproject.toml
  src/nameko_keycloak/auth.py
  src/nameko_keycloak/fakes.py
  tests/test_auth.py
Due: black, isort, flake8, mypy

Release first alpha of 2.0
  CHANGELOG.rst
  docs/conf.py
  pyproject.toml
  src/nameko_keycloak/__init__.py
Due: black, isort, flake8, mypy, rstcheck

Silence invalid_grant errors.
  src/nameko_keycloak/service.py
Due: black, isort, flake8, mypy

Release 2.0.0-alpha2
  docs/conf.py
  pyproject.toml
  src/nameko_keycloak/__init__.py
Due: black, isort, flake8, mypy

Actually put the hook in else clause.
  docs/conf.py
  pyproject.toml
  src/nameko_keycloak/__init__.py
  src/nameko_keycloak/service.py
Due: black, isort, flake8, mypy

Update bumpversion config
  .bumpversion.cfg
  docs/conf.py
  pyproject.toml
  src/nameko_keycloak/__init__.py
Due: black, isort, flake8, mypy

Bump version: 2.0.0a3 → 2.0.0
  .bumpversion.cfg
  CHANGELOG.rst
  docs/conf.py
  pyproject.toml
  src/nameko_keycloak/__init__.py
Due: black, isort, flake8, mypy, rstcheck

Update license specification for setuptools > 77.
  pyproject.toml
Due: none

Update test dependencies.
  pyproject.toml
  test_requirements.txt
Due: none

Try testing on Python up to 3.13
  pyproject.toml
Due: none

Include higher Python versions in GH actions.
  .github/workflows/build.yml
Due: none

Declare explicit support for Python 3.11-3.13
  pyproject.toml
Due: none

Decrease log level for JWTExpired exception.
  src/nameko_keycloak/auth.py
Due: black, isort, flake8, mypy

Update changelog for 2.1.0
  CHANGELOG.rst
Due: rstcheck

Bump version: 2.0.0 → 2.1.0
  .bumpversion.cfg
  README.rst
  docs/conf.py
  pyproject.toml
  src/nameko_keycloak/__init__.py
Due: black, isort, flake8, mypy, rstcheck

Ignore direnv and Claude Code configs.
  .gitignore
Due: none

Move dev dependencies to pyproject.toml.
  docs/requirements.txt
  pyproject.toml
  test_requirements.txt
Due: none

Replace flake8 with ruff in pre-commit config.
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Drop support for Python 3.9
  pyproject.toml
Due: none

Switch to uv build.
  pyproject.toml
  src/nameko_keycloak/__init__.py
Due: black, isort, flake8, mypy

Remove nameko below 3.0.0rc from dependencies tests.
  pyproject.toml
Due: none

Keep uv.lock in the repository.
  uv.lock
Due: none

Fix minor typing issues.
  src/nameko_keycloak/service.py
Due: black, isort, flake8, mypy

Configure tox to use uv runner.
  pyproject.toml
Due: none

Update Github Actions config for tox-uv.
  .github/workflows/build.yml
Due: none

Remove obsolete manifest.
  MANIFEST.in
Due: none

Unignore pytest and keycloak from type checking.
  pyproject.toml
Due: none

Install dependencies on RTD using uv.
  .readthedocs.yaml
Due: none

Actually run Sphinx on RTD.
  .readthedocs.yaml
Due: none

Update changelog for 2.2.0
  CHANGELOG.rst
Due: rstcheck

Use native TOML config for tox.
  pyproject.toml
Due: none

Set 2.2.0 as current version.
  pyproject.toml
  uv.lock
Due: none
