Repository Emplocity/nameko-keycloak: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, rstcheck

.pre-commit-config.yaml:

default_language_version:
  python: python3.9
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: black
        args: ["--check"]
        types: [python]
      - id: isort
        name: isort
        language: system
        entry: isort
        args: ["--check", "--diff"]
        types: [python]
      - id: flake8
        name: flake8
        language: system
        entry: flake8
        types: [python]
      - id: mypy
        name: mypy
        language: system
        entry: mypy
        types: [python]
      - id: rstcheck
        name: rstcheck
        language: system
        entry: rstcheck
        types: [rst]

Add support for Python 3.10
  .github/workflows/build.yml
  setup.py
  tox.ini
Due: black, isort, flake8, mypy

Copy bounds on cryptography from python-jose
  setup.py
Due: black, isort, flake8, mypy

Add readme sections and badges.
  README.rst
Due: rstcheck

Add basic docs structure
  .readthedocs.yaml
  docs/.rstcheck.cfg
  docs/authors.rst
  docs/changelog.rst
  docs/conf.py
  docs/configuration.rst
  docs/contributing.rst
  docs/index.rst
  docs/reference/index.rst
  docs/requirements.txt
  docs/usage.rst
Due: black, isort, flake8, mypy, rstcheck

Point to mixin docstring from configuration.
  README.rst
  docs/configuration.rst
  docs/reference/index.rst
  src/nameko_keycloak/service.py
Due: black, isort, flake8, mypy, rstcheck

Move usage docs to readme.
  README.rst
  src/nameko_keycloak/service.py
Due: black, isort, flake8, mypy, rstcheck

Document hooks
  README.rst
  src/nameko_keycloak/service.py
Due: black, isort, flake8, mypy, rstcheck

Include docs in package manifest
  MANIFEST.in
Due: none

Modernize tox -e check
  tox.ini
Due: none

Add readme and docs to bumpversion config.
  .bumpversion.cfg
Due: none

Update changelog for 0.2.0
  CHANGELOG.rst
Due: rstcheck

Bump version: 0.1.2 → 0.2.0
  .bumpversion.cfg
  README.rst
  docs/conf.py
  setup.py
  src/nameko_keycloak/__init__.py
Due: black, isort, flake8, mypy, rstcheck

Fix KeyError when no Authorization header exists.
  src/nameko_keycloak/auth.py
  tests/test_auth.py
Due: black, isort, flake8, mypy

Prepare changelog for 0.3.0
  CHANGELOG.rst
  src/nameko_keycloak/__init__.py
Due: black, isort, flake8, mypy, rstcheck

Bump version: 0.2.0 → 0.3.0
  .bumpversion.cfg
  README.rst
  docs/conf.py
  setup.py
Due: black, isort, flake8, mypy, rstcheck

WIP access token payload from AuthenticationService
  src/nameko_keycloak/auth.py
  src/nameko_keycloak/fakes.py
  tests/test_auth.py
Due: black, isort, flake8, mypy

Pass decoded token payload back to fetch_user callback.
  src/nameko_keycloak/auth.py
  src/nameko_keycloak/types.py
  tests/conftest.py
  tests/test_auth.py
  tests/test_service.py
Due: black, isort, flake8, mypy

Bump version to 0.4 alpha
  src/nameko_keycloak/__init__.py
Due: black, isort, flake8, mypy

setup doesn't import init../..
  setup.py
Due: black, isort, flake8, mypy

Update changelog for 0.4.0
  CHANGELOG.rst
Due: rstcheck

Bump version: 0.3.0 → 0.4.0
  .bumpversion.cfg
  README.rst
  docs/conf.py
  setup.py
  src/nameko_keycloak/__init__.py
Due: black, isort, flake8, mypy, rstcheck

Add secure=True to all cookies.
  src/nameko_keycloak/service.py
Due: black, isort, flake8, mypy

Prepare changelog for 0.5.0
  CHANGELOG.rst
Due: rstcheck

Bump version: 0.4.0 → 0.5.0
  .bumpversion.cfg
  README.rst
  docs/conf.py
  setup.py
  src/nameko_keycloak/__init__.py
Due: black, isort, flake8, mypy, rstcheck

Run tests with nameko 3 as well.
  setup.py
  tox.ini
Due: black, isort, flake8, mypy

Prepare changelog for 0.6
  CHANGELOG.rst
Due: rstcheck

Bump version: 0.5.0 → 0.6.0
  .bumpversion.cfg
  README.rst
  docs/conf.py
  setup.py
  src/nameko_keycloak/__init__.py
Due: black, isort, flake8, mypy, rstcheck

Remove upper bound on python-keycloak dependency.
  setup.py
Due: black, isort, flake8, mypy

Prepare changelog for 0.6.1
  CHANGELOG.rst
Due: rstcheck

Bump version: 0.6.0 → 0.6.1
  .bumpversion.cfg
  README.rst
  docs/conf.py
  setup.py
  src/nameko_keycloak/__init__.py
Due: black, isort, flake8, mypy, rstcheck

EMPLO-13000 building package with pyproject.toml
  .bumpversion.cfg
  CHANGELOG.rst
  README.rst
  docs/conf.py
  pyproject.toml
  setup.py
  src/nameko_keycloak/__init__.py
  test_requirements.txt
  tests/test_auth.py
  tox.ini
Due: black, isort, flake8, mypy, rstcheck

EMPLO-13000 remove setup.py from tests
  pyproject.toml
Due: none

EMPLO-13000 move mypy config to pyproject.toml
  mypy.ini
  pyproject.toml
  tests/conftest.py
  tests/test_service.py
Due: black, isort, flake8, mypy

WIP HttpOnly cookies
  src/nameko_keycloak/service.py
  tests/test_service.py
Due: black, isort, flake8, mypy

Search for access token in cookies first.
  src/nameko_keycloak/auth.py
  tests/conftest.py
  tests/test_auth.py
Due: black, isort, flake8, mypy

Remove obsolete cookie argument
  src/nameko_keycloak/auth.py
Due: black, isort, flake8, mypy

Bump version: 0.7.0 → 1.0.0a1
  .bumpversion.cfg
  README.rst
  docs/conf.py
  pyproject.toml
  src/nameko_keycloak/__init__.py
Due: black, isort, flake8, mypy, rstcheck

Add debug logs to AuthenticationService
  src/nameko_keycloak/auth.py
Due: black, isort, flake8, mypy

Drop Python 3.8
  pyproject.toml
  src/nameko_keycloak/auth.py
  src/nameko_keycloak/fakes.py
  src/nameko_keycloak/types.py
  tests/conftest.py
  tests/test_service.py
Due: black, isort, flake8, mypy

Update MANIFEST.in
  MANIFEST.in
Due: none
